# Sign up at https://browseruse.com/signup, get the API key from Settings -> API Keys
BROWSER_USE_API_KEY=<BROWSER_USE_API_KEY>

# for open source ChatXYZ, config the model API keys
GOOGLE_API_KEY=<GOOGLE_API_KEY>